@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #ffffff;
  --color-foreground: #0f172a;

  --dark-color-background: #020617;
  --dark-color-foreground: #f8fafc;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.dark {
  background-color: var(--dark-color-background);
  color: var(--dark-color-foreground);
}

body {
  background-color: inherit;
  color: inherit;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Xterm Scrollbar Fix */
.xterm-viewport::-webkit-scrollbar {
  width: 5px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.3);
}

.dark .xterm-viewport::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
